body{
    font-family: 'Roboto';
    margin: 0;    
}


.header,.footer{
    background-color: #1f2937;
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header-bar{

    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.ul-header{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}
.header-logo{
    font-size: 24px;
    color: #f9faf8;
}
.header-heading{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header-para, a{

    font-size: 18px;
    color: #e5e7eb;
}

button{
    background-color: #3882f6;
    font-size: 20px;
    border-radius: 10px;
    color: white;
}
img{
    width: 500px;
    height: 280px;
    padding-bottom: 50px;
    display: block;     
}
.header-section{

    display: flex;
    gap: 20px;
}

/* information */


.information-section{
    display: flex;
    flex-direction: column;
}


.information-header{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    text-align: center;
}


.card {
    width: 300px;
    height: 400px;
}

.card-box {
    width: 250px;
    height: 300px;
    border: 5px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 10px;
}

.card-box img{
    width: 250px;
    height: 300px;
    
}
.card-text {
    color: #1F2937;
}
.quote-section{
    background-color: #e5e7eb;
}
.quote-section p{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    text-align: center;
    padding: 150px;
    padding-bottom: 0px;
    font-style: italic;
}


.quote-auther{
    margin-left: 1100px;
    font-size: 23px;
}

.signup-box{
    background-color: #3882f6;
    color: white;
    display: flex;
    padding: 50px;
    margin: 100px;
    border-radius: 18px;
    gap: 200px;
}

.signup-box button{
    border: solid white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.signup-text{
    margin-left: 500px; 
    
}
.good{
    font-weight: 900;
}

.footer{
    padding: 30px;
}

.footer-text{
    display: flex;
    color:#e5e7eb;
    justify-content: center;
    align-items: center;

}