body{
    font-family: 'Roboto';
    margin: 0;    
}


.header{
    background-color: #1f2937;
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header-bar{

    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.ul-header{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}
.header-logo{
    font-size: 24px;
    color: #f9faf8;
}
.header-heading{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header-para, a{

    font-size: 18px;
    color: #e5e7eb;
}

button{
    background-color: #3882f6;
    font-size: 20px;
    border-radius: 10px;
    color: white;
}
img{
    width: 500px;
    height: 280px;
    padding-bottom: 50px;
    display: block;     
}
.header-section{

    display: flex;
    gap: 20px;
}

/* information */


.information-section{
    display: flex;
    flex-direction: column;
}


.information-header{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    text-align: center;
}


.card {
    width: 150px;
    height: 300px;
}

.card-box {
    width: 150px;
    height: 160px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.card-box img{
    width: 150px;
    height: 160px;
}
.card-text {
    color: #1F2937;
}