body{
    font-family: 'Roboto';
}


.header{
    background-color: #1f2937;
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header-bar{

    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.ul-header{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}
.header-logo{
    font-size: 24px;
    color: #f9faf8;
}
.header-heading{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header-para, a{

    font-size: 18px;
    color: #e5e7eb;
}

button{
    background-color: #3882f6;
    font-size: 20px;
    border-radius: 10px;
    color: white;
}
img{
    width: 500px;
    height: 280px;
    padding-bottom: 50px;
}
.header-section{

    display: flex;
    gap: 20px;
}